{% macro displayNewsSources(sources) %}

    {% for source in sources %}
    <a href="/source?s={{ source.id }}">
        <li>{{ source.name }}</li>
    </a>
    {% endfor %}
{% endmacro %}

{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <img style="width: 100px;" src="{{ news.urlToImage }}" alt="Image">
        <a href="{{ news.url }}">
            <li>{{ news.title}}</li>
        </a>
    {% endfor %}
{% endmacro %}

{% macro filterNews(search) %}
    <div class="container">    
        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Search any news" value="{{ search }}">
            <input type="submit" Value="Submit" class="btn btn-default" />
        </form>
    </div>    
{% endmacro %}

